# Core libraries
pandas
numpy
requests
pytz
python-dateutil
shapely

# Plotting and visualization
matplotlib
altair
pydeck
plotly
vega_datasets

# Streamlit and related
streamlit
streamlit-extras

# Machine learning
scikit-learn

fastapi
dotenv
google-genai
aiohttp
